@model List<day1.Models.StudentCourse>
@{
    ViewBag.Title = "CoursesList";
}

<h2>
    Courses List For @ViewBag.std.Name
</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Course</th>
            <th>Degree</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Course.crsName
                </td>
                <td>
                    @item.Degree
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="Index" class="btn btn-primary">Back to List</a>
